* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}

:root {
    --font-color: #F8F8F2;
    --search-bgd-color: #383838;
    --search-border-color: #5c5c5c;
    --search-hover-color: #454545;
    --header-menu-sp: #222222;
    --search-hover-border-color: #727272;
    --background-color: #282A36;
    --header-bgd-color: #262626;
    --sidebar-bgd-color: #363949;
    
}