* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}

:root {
    --font-color: #F8F8F2;
    --background-color: #282A36;
    --text-selection: #44475A;
    --comment-color: #6272A4;
    --header-bgd-color: #262626;
    --sidebar-bgd-color: #363949;
    --search-bgd-color: #333333;
}